version: '3.8'

services:
  backend:
    container_name: foodtruck-backend
    image: ${DOCKER_USERNAME}/foodtruck-be:dev
    restart: always
    ports:
      - "80:8080"
    environment:
      # 스프링 부트 설정
      - SPRING_PROFILES_ACTIVE=dev
      - TZ=Asia/Seoul

      # DB 및 Redis 접속 정보 (.env에서 가져옴)
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/foodtruck_db?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379

      # 시크릿 키 (.env에서 가져옴)
      - JWT_SECRET=${JWT_SECRET_KEY}

      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_KEY=${AWS_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}

    depends_on:
      - mysql
      - redis
    networks:
      - foodtruck-network

  redis:
    image: redis:latest
    container_name: foodtruck-redis
    restart: always
    command: redis-server --appendonly yes
    networks:
      - foodtruck-network

  mysql:
    image: mysql:8.0
    container_name: foodtruck-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: foodtruck_db
      TZ: Asia/Seoul
    ports:
      - "3306:3306"
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./db/data:/var/lib/mysql
    networks:
      - foodtruck-network

networks:
  foodtruck-network:
    driver: bridge