name: Backend Dev Deploy

on:
  push:
    branches: [ "backend" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./FoodTruckBe

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
          chmod +x gradlew
          ./gradlew build -x test

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./FoodTruckBe
          file: ./FoodTruckBe/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/foodtruck-be:dev

      # [변경] docker-compose.dev.yml 파일을 EC2로 전송 (SCP)
      - name: Copy Docker Compose file to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          source: "./FoodTruckBe/docker-compose.dev.yml"
          target: "~/foodtruck-server/"
          strip_components: 1 # FoodTruckBe 폴더 껍데기 제거하고 내용물만 전송

      # [변경] EC2에서 .env 파일 생성 후 배포 실행
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd ~/foodtruck-server

          
            echo "DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}" > .env
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
            echo "JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}" >> .env
            echo "AWS_ACCESS_KEY=${{ secrets.AWS_ACCESS_KEY }}" >> .env
            echo "AWS_SECRET_KEY=${{ secrets.AWS_SECRET_KEY }}" >> .env
            echo "S3_BUCKET_NAME=${{ secrets.S3_BUCKET_NAME }}" >> .env
            echo "TOSS_CERT_PASSWORD=${{ secrets.TOSS_CERT_PASSWORD }}" >> .env
            
            docker pull ${{ secrets.DOCKER_USERNAME }}/foodtruck-be:dev
            
            docker-compose -f docker-compose.dev.yml down
            docker-compose -f docker-compose.dev.yml up -d

            docker image prune -f